<footer>
    <div class="footerContact">
        <h2>Contact Us</h2>
            <a href=""i class='bx bxs-map'>H-87,Sector-63, Noida,U.P, 201301</i></a>
            <a href=""i class='bx bxs-phone-call'>+91 7678476713</i></a>
            <a href=""i class='bx bxs-envelope'>info@gohackathon.in</i></a>
        </div>
      </div>
</footer>