<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="home-content">
        <div class="body-image">
            <img class="image" src="bg-img-removebg-preview.png">
        </div>
       
 <div class="container">
    <h1>Resume Builder</h1>
        <p>Create your Personal Resume.Effortlessly elevate your job search with our automatic resume builder. Simply input your details, and watch
             as your professional profile transforms into a polished, tailored resume.
Save time, reduce stress, and make a lasting impression with a resume that highlights your strengths and achievements seamlessly</p>
        <div class="btn">
        <a href="/form"><button class="btn-box"> Create My Resume</button></a>
        </div>
</div>
</div>
    <div class="content">
        <div class="c1">
            <i class='bx bx-timer'></i>
          <h2>Finish Your Resume in 15 Minutes</h2>
          <p>Resume Now helps you tackle your work experience by reminding <br>you what you did at your job.</p>
        </div>
        <div class="c2">
            <i class='bx bx-file'></i>
            <h2>Land an Interview</h2>
            <p>We suggest the skills you should add. It helped over<br> a million people get interviews.</p>
        </div>
    </div>
  
</body>
