
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./preview.css">
    <title>Document</title>
</head>
<body>
    <header >
        <img class="img1" src="logo.png" alt="go hackathon">
</header>

    <div class="text">
        <h1>Your resume is Redy to Download</h1>
        <p>Simply click to Download or Preview</p>
    </div>
    <div class="btns">
        <a href="/preview/<%= pdfName %>"><button>Preview resume</button></a>
        <a href="/download/<%= pdfName %>"><button>Dowload resume</button></a>
    
    </div>
   
    <footer>
        <div class="footerContact">
            <h2>Contact Us</h2>
                <a href=""i class='bx bxs-map'>H-87,Sector-63, Noida,U.P, 201301</i></a>
                <a href=""i class='bx bxs-phone-call'>+91 7678476713</i></a>
                <a href=""i class='bx bxs-envelope'>info@gohackathon.in</i></a>
            </div>
          </div>
    </footer>
</body>

</html>
