body {
    margin: 0;
    padding: 0;
}

.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-top: 40px;
}

h1 {
    color: rgb(37, 150, 190);
    
}

.icon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;

}

.icon a i{
    font-size: 30px;
}

.icon a {
    text-decoration: none;
    color: black;
}

.icon-title {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.395);
}
.image {
    display: flex;
    position: absolute;
    right: 10px;
    top: 25px;
    justify-content: right;
}

.image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
}

.info {
    width: 75%;
    margin: auto;
}

.info h1{
    color: rgb(37, 150, 190);
}

.project  p{
    line-height: 1;
    margin-left: 20px;
}